{{define "layout"}}

<article class="Downloads Article">

<h1>{{.title}}</h1>

{{with .dl}}
<p>
Sau khi tải xuống bản phát hành nhị phân phù hợp với hệ thống của bạn,
vui lòng làm theo <a href="/doc/install">hướng dẫn cài đặt</a>.
</p>

<p>
Nếu bạn đang build từ nguồn,
làm theo <a href="/doc/install/source">hướng dẫn cài đặt từ nguồn</a>.
</p>

<p>
Xem <a href="/doc/devel/release.html">lịch sử phát hành</a> để biết thêm
thông tin về các bản phát hành Go.
</p>

<p>
  Kể từ Go 1.13, lệnh go theo mặc định tải xuống và xác thực
  module bằng Go module mirror và Go checksum database do Google vận hành. Xem
  <a href="https://proxy.golang.org/privacy">https://proxy.golang.org/privacy</a>
  để biết thông tin về quyền riêng tư của các dịch vụ này và
  <a href="/cmd/go/">tài liệu lệnh go</a>
  để biết chi tiết cấu hình bao gồm cách tắt việc sử dụng các máy chủ này hoặc sử dụng
  các máy chủ khác.
</p>

{{with .Featured}}
<h2 id="featured">Tải xuống nổi bật</h2>
<div class="downloadWrapper">
{{range .}}
{{template "download" .}}
{{end}}
{{end}}
</div>

<div style="clear: both;"></div>

{{with .Stable}}
<h2 id="stable">Phiên bản ổn định</h2>
{{template "download-releases" .}}
{{end}}

{{with .Unstable}}
<h2 id="unstable">Phiên bản không ổn định</h2>
{{template "download-releases" .}}
{{end}}

{{with .Archive}}
<div class="toggle" id="archive">
  <div class="collapsed">
    <h2 class="toggleButton" title="Click để hiện các phiên bản">Các phiên bản cũ <span class="toggleText">Hiện</span></h2>
  </div>
  <div class="expanded">
    <h2 class="toggleButton" title="Click để ẩn các phiên bản">Các phiên bản cũ <span class="toggleText">Ẩn</span></h2>
    {{template "download-releases" .}}
  </div>
</div>
{{end}}
{{end}}

</article>

{{end}}

{{define "download-releases"}}
{{range .}}
<div class="toggle{{if .Visible}}Visible{{end}}" id="{{.Version}}">
	<div class="collapsed">
		<h3 class="toggleButton" title="Click để hiện các bản tải xuống của phiên bản này">
    <span>{{.Version}}</span>
    <img class="toggleButton-img" src="/images/icons/arrow-down.svg" width="18" height="18" aria-hidden="true" />
    <img class="toggleButton-img toggleButton-img-dark" src="/images/icons/arrow-down-dark.svg" width="18" height="18" aria-hidden="true" />
    </h3>
	</div>
	<div class="expanded">
		<h3 class="toggleButton" title="Click để ẩn các bản tải xuống của phiên bản này">
    <span>{{.Version}}</span>
    <img class="toggleButton-img" src="/images/icons/arrow-down.svg" width="18" height="18" aria-hidden="true" />
    <img class="toggleButton-img toggleButton-img-dark" src="/images/icons/arrow-down-dark.svg" width="18" height="18" aria-hidden="true" />
    </h3>
		{{if .Stable}}{{else}}
			<p>Đây là phiên bản <b>không ổn định</b> của Go. Sử dụng thận trọng.</p>
			<p>Nếu bạn đã cài đặt Go, bạn có thể cài đặt phiên bản này bằng cách chạy:</p>
<pre>
go install golang.org/dl/{{.Version}}@latest
</pre>
			<p>Sau đó, sử dụng lệnh <code>{{.Version}}</code> thay vì lệnh <code>go</code> để dùng {{.Version}}.</p>
		{{end}}
		{{template "download-files" .}}
	</div>
</div>
{{end}}
{{end}}

{{define "download-files"}}
<div style="overflow:auto;">
<table class="downloadtable">
<thead>
<tr class="first">
  <th>Tên tệp</th>
  <th>Loại</th>
  <th>Hệ điều hành</th>
  <th>Kiến trúc</th>
  <th>Kích thước</th>
  {{/* Use the checksum type of the first file for the column heading. */}}
  <th>{{(index .Files 0).ChecksumType}} Checksum</th>
</tr>
</thead>
{{if .SplitPortTable}}
  {{range .Files}}{{if .PrimaryPort}}{{template "download-file" .}}{{end}}{{end}}

  {{/* TODO(cbro): add a link to an explanatory doc page */}}
  <tr class="first js-togglePorts" aria-expanded="false"><th colspan="6" class="first">Cổng khác</th></tr>
  {{range .Files}}{{if not .PrimaryPort}}{{template "download-file" .}}{{end}}{{end}}
{{else}}
  {{range .Files}}{{template "download-file" .}}{{end}}
{{end}}
</table>
</div>
{{end}}

{{define "download-file"}}
<tr class="{{if .Highlight}}highlight{{end}} {{if not .PrimaryPort}}secondary{{end}}">
  <td class="filename"><a class="download" href="{{.URL}}">{{.Filename}}</a></td>
  <td>{{.PrettyKind}}</td>
  <td>{{.PrettyOS}}</td>
  <td>{{.PrettyArch}}</td>
  <td>{{.PrettySize}}</td>
  <td><tt>{{.PrettyChecksum}}</tt></td>
</tr>
{{end}}

{{define "download"}}
<a class="download downloadBox" href="{{.URL}}">
<div class="platform">{{.Platform}}</div>
{{with .Requirements}}<div class="reqs">{{.}}</div>{{end}}
<div class="filename">
  <img src="/images/icons/download.svg" aria-hidden="true" width="14" height="13" />
  <span>{{.Filename}}</span>
</div>
</a>
{{end}}
