<!--{
	"Title": "Báo cáo Build Tái tạo Go",
	"layout": "article",
	"template": true
}-->

<style>
details { margin-left: 2em; }
pre { margin-left: 2em; }
.time { color: #777; }
</style>

<p>
Kể từ Go 1.21, bộ công cụ nhị phân của Go được phục vụ tại <a href="/dl/">go.dev/dl/</a> có thể được
tái tạo và xác minh bởi bất kỳ ai, trên bất kỳ nền tảng nào,
sử dụng <a href="https://pkg.go.dev/golang.org/x/build/cmd/gorebuild">golang.org/x/build/cmd/gorebuild</a>.
Để biết thêm chi tiết, xem bài blog
"<a href="/blog/rebuild">Toolchain Go có thể tái tạo và xác minh hoàn hảo</a>."
</p>

<p>
Trang này được cập nhật hàng ngày với kết quả chạy <code>gorebuild</code> trong máy ảo Ubuntu,
sử dụng script sau:
</p>

<pre>
apt-get update &&
apt-get -y install software-properties-common &&
add-apt-repository universe &&
apt-get -y install golang-go msitools &&
go run golang.org/x/build/cmd/gorebuild@latest -p=4
</pre>

<p>
Cài đặt <code>msitools</code> cho phép <code>gorebuild</code>
kiểm tra nội dung của tệp cài đặt Windows MSI.
<code>-p=4</code> có nghĩa là chạy tối đa bốn build song song.
</p>

{{define "marker"}}<span style="marker">{{template "markersymbol" .}}</span>{{end}}
{{define "markersymbol"}}
{{- if eq . "PASS" -}} ✅
{{- else if eq . "SKIP" -}} —
{{- else -}}  ❌
{{- end -}}
{{end}}

{{define "log"}}
<pre>
{{range .Messages}}<span class="time">{{(rfc3339 .Time).UTC.Format "15:04:05"}}</span> {{.Text}}
{{end}}
</pre>
{{end}}

{{define "autoopen"}} {{if not (eq . "PASS")}} open {{end}} {{end}}

{{$Report := json gorebuild}}
{{with $Report}}

Phiên bản Gorebuild {{.Version}}.<br>
Build với Go phiên bản {{.GoVersion}}, {{.GOOS}}-{{.GOARCH}}.<br>
<br>
Bắt đầu tái tạo lúc {{(rfc3339 .Start).UTC.Format "2006-01-02 15:04:05"}} UTC.<br>
Hoàn thành tái tạo lúc {{(rfc3339 .End).UTC.Format "2006-01-02 15:04:05"}} UTC.<br>
Thời gian trôi qua: {{((rfc3339 .End).Sub (rfc3339 .Start)).Round 1e9}}.

<h2 id="releases">Bản phát hành</h2>

{{range .Releases}}
<details {{template "autoopen" .Log.Status}} >
<summary><b id="{{.Version}}">{{template "marker" .Log.Status}} {{.Version}}</b></summary>

<details>
<summary>Log</summary>
{{template "log" .Log}}
</details>

{{range .Files}}
<details {{template "autoopen" .Log.Status}}>
<summary><b id="{{.Name}}">{{template "marker" .Log.Status}} {{.Name}}</b></summary>
{{template "log" .Log}}
</details>
{{end}}

</details>
{{end}}

<h2 id="bootstraps">Bootstrap</h2>

{{range .Bootstraps}}
<details>
<summary><b>Bootstrap {{.Version}}</b></summary>
{{template "log" .Log}}
</details>
{{end}}

{{end}}
